<h3 class="page-heading">Dynatrace Data Source</h3>

<div class="gf-form-group">
  <div class="gf-form">
    <label class="gf-form-label width-10">API URL</label>
    <input type="text" class="gf-form-input width-25" ng-model="ctrl.current.url" placeholder="https://your-domain.dynatrace.com" />
  </div>
  <div class="gf-form">
    <label class="gf-form-label width-10">Token</label>
    <input type="text" class="gf-form-input width-25" ng-model="ctrl.current.jsonData.token" placeholder="Just the token here - dt0c01....  - " />
  </div>
</div>

<div class="gf-form-button-row">
  <button class="btn btn-primary" ng-click="ctrl.testDatasource()">Save & Test</button>
</div>
